/.idea
/.project
/index.html
/hdcms.sql
/.htaccess
/Upload
/h
/Temp 
/HDCMS/Install/Lock.php
/HDCMS/hdphp/logo.png
/HDCMS/hdphp/LICENSE.TXT
/HDCMS/hdphp/manual
/HDCMS/hdphp/Data/Image/houdunwang.jpg
/HDCMS/hdphp/Extend/Org/Jqzoom
/HDCMS/hdphp/Extend/Org/PhpExcel
/HDCMS/hdphp/Extend/Org/Mobile
/HDCMS/hdphp/Extend/Org/Smarty
/HDCMS/hdphp/Extend/Org/Ip
/HDCMS/hdphp/Extend/Org/bootstrap/ie6
/HDCMS/hdphp/LICENSE
/Temp
/HDCMS/Addons/BaiduNews/Data/baidunews.xml
